/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */

:root {
    --head-foot-h: 80px;
    --bgc-main-color: #000;
    --bgc-secondary-color: #222;
    --third-color: #4a4a4a;
}

/* UTILITY */
.container {
    max-width: 1600px;
    margin: 0px auto;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: sans-serif;
}

/* HEADER */
header {
    text-align: right;
    height: var(--head-foot-h);
    background-color: black;
    color: #fff;
}

.head-menu {
    padding: 15px;
}

.head-menu > span {
    font-size: 15px;
    background-color: var(--third-color);
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

/* MAIN */
main {
    background-color: var(--bgc-main-color);
}
.card-box {
    height: calc(100vh - var(--head-foot-h) * 2);
    overflow-y: auto;
}

.row {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

img {
    height: 100%;
    width: auto;
    position: relative;
    display: block;
}

.card-info {
    position: relative;
    left: 0;
    bottom: 20px;
    color: #fff;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* FOOTER */
footer {
    color: #fff;
    height: var(--head-foot-h);
    background-color: var(--bgc-secondary-color);
    text-align: center;
}

h4 {
    font-size: 13px;;
}

.foot-menu {
    line-height: 30px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-btn  * {
    margin-left: 5px;
}

.call {
    height: 100%;
}

.call-btn i {
    color: red;
}